# Data
*.nd2
*.tif
*.png
*.jpg
*.jpeg
*.bmp

# Data Folders
data/

# Output Folders
output/

# DS_Store
.DS_Store

# pycache
**pycache**/

# egg info
*.egg-info/

# venv
venv/

# results
results/

# logs
logs/
